* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

#admin-navbar {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #ffffff;
    width: 100%;
    flex-wrap: wrap;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

.navbar li:hover {
    color: yellow;
}

.logout {
    padding: 1rem;
    display: block;
}

.logout:hover {
    color: yellow;
}

.flex-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-page > p {
    width: 90%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.labelled-input {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-left: 1em;
}

.labelled-input > p {
    font-size: 1.2rem;
    align-self: center;
}

textarea {
    min-height: 7em;
}

.input {
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: Roboto;
}

textarea {
}

.row-odd {
    color: orange;
}

.row-even {
    color: #ffffff;
}

.line {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1rem;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.line p {
    font-size: 1.2rem;
    align-self: center;
}

.button {
    background-color: yellow;
    font-size: inherit;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    outline: 1px solid #666655;    
}

.button-not-ready {
    background-color: #666666;
    font-size: inherit;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    opacity: 0.7;
}

input[type="number"] {
    border: none;
    text-decoration: none;
    text-align: center;
    width: 5em;
}

#admin {
    min-height: 100vh;
    background-color: #666666;
}

#admin h3 {
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
}

#admin h5 {
    padding: 1.0rem;
    text-align: left;
    font-size: 1.2rem;
    text-decoration: none;
}

/* events */

.events__copylink {
    background-color: yellow;
    color: #1c1b1b;
    outline: solid 1px #666655;
    border-radius: 5px;
    padding: 0.5em;
}

.events__copylink:hover {
    background-color: orange;
}

.events__new-event-button:hover {
    background-color: orange;
}

.events__new-event {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: align-items;
    gap: 0.8rem;
}

/* messages */

/* reviews */
