* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overscroll: none;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
}

img {
    max-width: 100%;
    display: block;
}

#banner {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #e83a8e;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#banner img {
    width: 50px;
    height: auto;
}

#menu-navbar {
    position: sticky;
    top: 0;
}

#control-bar {
    width: 100%;
    height: 15vh;
    background-color: #3f2d7b;
}

#control-bar img {
    width: 100px;
    height: auto;
    position: absolute;
    right: 15px;
    top: 5vh;
}

#menu-button {
}

#menu-button img {
    width: 100px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 4vh;
}

nav {
    position: absolute;
    top: 15vh;
    z-index: 1;
    min-width: 30%;
    max-width: 30rem;
    transition: transform ease-out 200ms;
}

.nav-is-closed {
    transform: translateX(-200%);
}

.nav-is-open {
    transform: translateX(0);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-around;
    background: #3f2d7b;
    padding-left: 1rem;
    align-items: stretch;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 2rem;
    display: inline-block;
    width: 100%;
}

nav li {
    border-left: 1px solid #ffffff;
}

nav li:hover {
    background-color: #00B0BD;
}

#heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    self-align: center;
}

#heading h1 {
    align-self: flex-centre;
}

#heading h1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

#heading h3 {
    color: #fffaf5;
}

.footer {
    min-height: 5vh;
    background-color: #3f2d7b;
    color: #fffaf5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing {
    background-color: #ff7488;
    min-height: 75vh;
}

#landingvideo {
    width: 100%;
    min-height: 50vh;
}

#landing-review {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem;
}

.review-quote {
    font-style: italic;
}

.review-name {
    font-size: 1.7rem;
    padding: 1rem;
    padding-left: 2rem;
    font-style: bold;
    color: #ffffff;
}

.landing-element {
}

#control-bar img {
    width: 50px;
    height: auto;
}

/* FAQ */

#faq {
    background-color: #ffcce5;
    color: #1c1b1b;
    min-height: 100vh;
}

#faq h4 {
    color: #3f2d7b;

}

#faq p {
    margin-left: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

#faq a {
    text-decoration: none;
    color: #e75480;
    font-weight: bolder;
}

.list {
    list-style-type: circle;
    margin-left: 4rem;
    border-left: 1.5rem;
    font-size: 1.2rem;
}

/* Characters and Games */

#character-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    background-color: #ffcce5;
    min-height: 75vh;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.character-card {
/*    border: 3px solid hotpink; */
    aspect-ratio: 1 / 1.5;
}

.ccard__content {
    background: #ffcce5;
    align-self: end;
    margin: .5rem;
    padding: .5rem;
/*    box-shadow: 0.25rem 1rem rgb(0 0 0 / .1); */
    margin: .5rem .5rem 2rem;
    outline: solid 2px #e75480;
}

.ccard__name {
    font-size: 1.25rem;
    line-height: 1.1;
    color: #e75480;
}

.ccard__img {
    width: 100%;
    aspect-ration: 1 / 1;
    object-fit: cover;
}

.ccard__description {
    font-size: 1.7rem;
}

.game-title {
    display: flex;
}

#game-circus {
    background-color: #C5B4E3;
}

#game-frozen {
    background-color: #EA8;
}

#game-superheros {
    background-color: #00B0BD;
}

#heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading h1 {
    align-self: flex-centre;
}

#heading h1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

#heading h3 {
    color: #fffaf5;
}

.footer {
    min-height: 5vh;
    background-color: #3f2d7b;
    color: #fffaf5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FAQ */

#faq {
    background-color: #ffcce5;
    color: #1c1b1b;
    min-height: 100vh;
}

#faq h4 {
    color: #3f2d7b;

}

#faq p {
    margin-left: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

#faq a {
    text-decoration: none;
    color: #e75480;
    font-weight: bolder;
}

.list {
    list-style-type: circle;
    margin-left: 4rem;
    border-left: 1.5rem;
    font-size: 1.2rem;
}

/* Characters and Games */

#character-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    background-color: #ffcce5;
    min-height: 75vh;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.character-card {
/*    border: 3px solid hotpink; */
    aspect-ratio: 1 / 1.5;
}

.ccard__content {
    background: #ffcce5;
    align-self: end;
    margin: .5rem;
    padding: .5rem;
/*    box-shadow: 0.25rem 1rem rgb(0 0 0 / .1); */
    margin: .5rem .5rem 2rem;
    outline: solid 2px #e75480;
}

.ccard__name {
    font-size: 1.25rem;
    line-height: 1.1;
    color: #e75480;
}

.ccard__img {
    width: 100%;
    aspect-ration: 1 / 1;
    object-fit: cover;
}

.ccard__description {
    font-size: 1.7rem;
}

.game-title {
    display: flex;
}

#game-circus {
    background-color: #C5B4E3;
}

#game-frozen {
    background-color: #EA8;
}

#game-superheros {
    background-color: #00B0BD;
}

.cg-desc {
    color: #ffffff;
    padding: 1rem;
}

.cg-desc > p {
    padding: 1rem;
    font-size: 1.2rem;
}

.cg-desc > h4 {
    margin: 1rem;
}

/* prices */

#prices {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #EA8;
    min-height: 75vh;
    padding-top: 2rem;
    width: 100%;
    padding-bottom: 5rem;
}

#prices-table {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-left: 2rem;
    align-self: flex-begin;
}

.price-time {
    font-size: 1.2rem;
}

.price-value {
    font-size: 1rem;
}

.price-column {
    font-weight: bold;
}

.price-column-odd {
    color: #ffffff;
}

.price-column-even {
    color: #1c1b1b;
}

#price-mod {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
}

#price-travel-times {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 2rem;
    flex-wrap: wrap;
}

#price-mod p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


/* contact */
#contact {
    min-height: 75vh;
    background: #00B0BD;
    font-decoration: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#contact > p {
    margin: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
}

#contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

#contact__form > input {
    outline: solid 1px #ffffff;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #00B0BD;
    padding: 1rem;
    font-size: 1rem;
    opacity: 1;
    font-family: Roboto;
}

#contact__form > input:focus {
    outline: solid 3px #ffffff;
}

#contact__form > textarea {
    outline: solid 1px #ffffff;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #00B0BD;
    padding: 1rem;
    opacity: 1;
    font-size: 1rem;
    font-family: Roboto;
}

#contact__form > textarea:focus {
    outline: solid 3px #ffffff;
}

.contact__button {
    outline: none;
    background-color: #00B0BD;
    opacity: 0.7;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
}

.contact__button-non-send {
    opacity: 0.7;
    outline: none;
}

.contact__button-send {
    opacity: 1;
    outline: solid 2px #ffffff;
}

/* reviews */
#reviews {
    min-height: 100vh;
}

.review {
    color: #ffffff;
}

.review h3 {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
}

.review p {
    margin-left: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.review1 {
    background-color: #EA8;
}

.review2 {
    background-color: #C5B4E3;
}

.review3 {
    background-color: #00B0BD;
}

.review-time {
    text-decoration: italic;
    font-size: 0.9rem;
    color: #ffffff;
}

/* event */
#event {
    background-color: #dddddd;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#event > h3 {
    color: #3f2d7b;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    padding-bottom: 0.1rem;
}

#event h4 {
    color: #3f2d7b;
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
}

#event-time {
    color: #666666;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
}

#event-description {
    color: #1c1b1b;
    outline: none;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    min-height: 5em;
    border-radius: 5px;
    padding: 1em;
}

#event__money {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event__payment {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    color: #1c1b1b;
}

#event__review {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#event__review > p {
    margin-bottom: 0.5em;
}

#event__review > textarea {
    border-radius: 15px;
    outline: solid 1px #3f2b7d;
    text-decoration: none;
    color: #1c1b1b;
    background-color: #ddddee;
    padding: 1em;
    font-size: 1rem;
    font-family: 'Roboto';
    height: 7em;
}

#event__review > textarea:focus {
    outline: solid 1px #666677;
}

#event__review > button {
    outline: none;
    background-color: #3f2b7d;
    color: #ffffff;
    opacity: 0.7;
    text-decoration: none;
    border-radius: 10px;
    align-self: flex-end;
    padding: 1em;
    padding-right: 2rem;
    margin-top: 1rem;
}

#event__review > button:hover {
    background-color: #e83a8e;
}
