* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overscroll: none;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
}

img {
    max-width: 100%;
    display: block;
}

#banner {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #e83a8e;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#banner img {
    width: 50px;
    height: auto;
}

#menu-navbar {
    position: sticky;
    top: 0;
}

#control-bar {
    width: 100%;
    height: 15vh;
    background-color: #3f2d7b;
}

#menu-button {
}

nav {
    position: absolute;
    top: 15vh;
    z-index: 1;
    min-width: 30%;
    max-width: 30rem;
    transition: transform ease-out 300ms;
}

.nav-is-closed {
    transform: translateX(-100%);
}

.nav-is-open {
    transform: translateX(0);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-around;
    background: #3f2d7b;
    padding-left: 1rem;
    align-items: stretch;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 2rem;
    display: inline-block;
    width: 100%;
}

nav li {
    border-left: 1px solid #ffffff;
}

nav li:hover {
    background-color: #00B0BD;
}

#heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading h1 {
    align-self: flex-centre;
}

#heading h1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

#heading h3 {
    color: #fffaf5;
}

.footer {
    min-height: 5vh;
    background-color: #3f2d7b;
    color: #fffaf5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing {
    background-color: #fff94d;
    height: 75vh;
}

.landing-element {
}

.landing-element img {
    max-width: 100%;
}

/* FAQ */

#faq {
    background-color: #ffcce5;
    color: #1c1b1b;
    min-height: 100vh;
}

#faq h4 {
    color: #3f2d7b;

}

#faq p {
    margin-left: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

#faq a {
    text-decoration: none;
    color: #e75480;
    font-weight: bolder;
}

.list {
    list-style-type: circle;
    margin-left: 4rem;
    border-left: 1.5rem;
    font-size: 1.2rem;
}

/* Characters and Games */

#character-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    background-color: #ffcce5;
    min-height: 75vh;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.character-card {
/*    border: 3px solid hotpink; */
    aspect-ratio: 1 / 1.5;
}

.ccard__content {
    background: #ffcce5;
    align-self: end;
    margin: .5rem;
    padding: .5rem;
/*    box-shadow: 0.25rem 1rem rgb(0 0 0 / .1); */
    margin: .5rem .5rem 2rem;
    outline: solid 2px #e75480;
}

.ccard__name {
    font-size: 1.25rem;
    line-height: 1.1;
    color: #e75480;
}

.ccard__img {
    width: 100%;
    aspect-ration: 1 / 1;
    object-fit: cover;
}

.ccard__description {
    font-size: 1.7rem;
}

.game-title {
    display: flex;
}

#game-circus {
    background-color: #C5B4E3;
}

#game-frozen {
    background-color: #EA8;
}

#game-superheros {
    background-color: #00B0BD;
}

#heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading h1 {
    align-self: flex-centre;
}

#heading h1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

#heading h3 {
    color: #fffaf5;
}

.footer {
    min-height: 5vh;
    background-color: #3f2d7b;
    color: #fffaf5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing {
    background-color: #fff94d;
    height: 75vh;
}

.landing-element {
}

.landing-element img {
    max-width: 100%;
}

/* FAQ */

#faq {
    background-color: #ffcce5;
    color: #1c1b1b;
    min-height: 100vh;
}

#faq h4 {
    color: #3f2d7b;

}

#faq p {
    margin-left: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

#faq a {
    text-decoration: none;
    color: #e75480;
    font-weight: bolder;
}

.list {
    list-style-type: circle;
    margin-left: 4rem;
    border-left: 1.5rem;
    font-size: 1.2rem;
}

/* Characters and Games */

#character-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    background-color: #ffcce5;
    min-height: 75vh;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.character-card {
/*    border: 3px solid hotpink; */
    aspect-ratio: 1 / 1.5;
}

.ccard__content {
    background: #ffcce5;
    align-self: end;
    margin: .5rem;
    padding: .5rem;
/*    box-shadow: 0.25rem 1rem rgb(0 0 0 / .1); */
    margin: .5rem .5rem 2rem;
    outline: solid 2px #e75480;
}

.ccard__name {
    font-size: 1.25rem;
    line-height: 1.1;
    color: #e75480;
}

.ccard__img {
    width: 100%;
    aspect-ration: 1 / 1;
    object-fit: cover;
}

.ccard__description {
    font-size: 1.7rem;
}

.game-title {
    display: flex;
}

#game-circus {
    background-color: #C5B4E3;
}

#game-frozen {
    background-color: #EA8;
}

#game-superheros {
    background-color: #00B0BD;
}

.cg-desc {
    color: #ffffff;
    padding: 1rem;
}

.cg-desc > p {
    padding: 1rem;
    font-size: 1.2rem;
}

.cg-desc > h4 {
    margin: 1rem;
}

/* prices */

#prices {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #EA8;
    height: 75vh;
    padding-top: 2rem;
    width: 100%;
    padding-bottom: 5rem;
}

#prices-table {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-left: 2rem;
    align-self: flex-begin;
}

.price-time {
    font-size: 1.2rem;
}

.price-value {
    font-size: 1rem;
}

.price-column {
    font-weight: bold;
}

.price-column-odd {
    color: #ffffff;
}

.price-column-even {
    color: #1c1b1b;
}

#price-mod {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
}

#price-travel-times {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 2rem;
    flex-wrap: wrap;
}

#price-mod p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


