<div id="characters-and-games">
  <div id="character-gallery">
    % for char in strings['characters']:
      <div class="character-card stacked">
        <img src="${char['image']}" class="ccard__img">
        <div class="ccard__content">
          <h5 class="ccard__name">${char['nameEn']}</h5>
        </div>
      </div>
    % endfor
 
         
      </div>
    </div>
    <div id="character-games-list">
      <div class="cg-desc" id="game-circus">
	<div class="game-title">
          <h4>Circus</h4>
	</div>
	<p>
	  The clown will entertain children with a magic show, puppetry,
	  balloon modeling, face painting, dancing, relay races,
	  parachute games and other fun activities.
	  Expect lots of laughter!
	</p>
      </div>
      <div class="cg-desc" id="game-frozen">
	<div class="game-title">
	  <h4>Frozen</h4>
	</div>
	<p>
	  Elsa will entertain the children with Frozen movie themed games and music.
	  We will sing along and dance to Elsa's favorite song,
	  pin the nose on Olaf, play snow ball games and see Elsa perform Snow magic.
	  Even though she is a frozen queen, no one will get cold during all these exiting games!
	</p>
      </div>
      <div class="cg-desc" id="game-superheros">
	<div class="game-title">
	  <h4>Superheros</h4>
	</div>
	<p>
	  Batgirl will train children to be superheroes through fun games like obstacle races,
	  tug of war, learning to walk the tightrope like Robin and more.
	  Everyone will feel like a superhero!
	</p>
      </div>
    </div>
    <div class="footer">
      <h3> Tulip the Clown - Character & Games</h3>
    </div>
