<div id="characters-and-games">
  <div id="character-gallery">
    % for char in strings['characters']:
      <div class="character-card stacked">
        <img src="${char['image']}" class="ccard__img">
        <div class="ccard__content">
          <h5 class="ccard__name">${char['name']}</h5>
        </div>
      </div>
    % endfor
  </div>
  <div id="character-games-list">
    % for game in strings['games']:
    <div class="cg-desc" id=${game['id']}>
      <div class="game-title">
        <h4>${game['name']}</h4> 
      </div>
      <p>${game['description']}</p>
    </div>
    % endfor
  </div>
</div>
         
<div class="footer">
  <h3>${strings['site']['name']} - ${strings['site']['pageChars']}</h3>
</div>
