<div id="contact">
  <div class="contact-form">
    <input type="text" placeholder="Name" class="contact-input" size="16" id="contact-name">
    <input type="text" placeholder="Phone No. or Email" class="contact-input" size="16" id="contact-method">
    <textarea placeholder="Message" class="contact-input" columns="64" rows="16" id="contact-text"></textarea>
    <div id="contact-button-space">
      <button type="button" id="contact-button">Contact</button>
    </div>
  </div>
</div>

<div class="footer">
  <h3>${strings['site']['name']} - ${strings['site']['pageContact']}</h3>
</div>

<script defer src="../contact.js"></script>
