<div id="event">

  <h3>Party</h3>
  <p id="event-time"></p>

  <p id="event-description"></p>

  <div id="event__money">
    <h4>Payment</h4>
    <div class="event__payment">
      <p>Deposit: </p>
      <p id="event-deposit">
    </div>
    <div class="event__payment">
      <p>Total (including Deposit): </p>
      <p id="event-total-price"></p>
    </div>
  </div>

  <div id="event__review">
    <h4>Review</h4>
    <p>Leave Nia a review for her website!</p>
    <textarea placeholder="review" id="event-review"></textarea>
    <button id="event-review-button">Save</button>
  </div>

  <script src="../event.js" defer></script>

</div>

<div class="footer">
  <h3>${strings['site']['name']} - ${strings['site']['pageEvent']}</h3>
</div>
