<div id="event">
  <h3>Event</h3>
  <p id="event-time"></p>

  <p id="event-description"></p>

  <script>
    const event = document.getElementById('event')
    const eventTime = document.getElementById('event-time')
    const description = document.getElementById('event-description')

    const event_id = new URL(window.location.href).searchParams.get('event_id')
    if (event_id !== null) {

	const url = "https://api.jameswelchman.com/tuliptheclown/event?event_id=" + event_id
	const req = new Request(url, {
	    credentials: "include"
	})

	fetch(req)
	    .then(resp => resp.json())
	    .then(body => {
		eventTime.innerHTML = body['date'] + " " + body['startTime'] + ' - ' + body['endTime']
		description.innerHTML = body['description']
	    })
    }
  </script>
</div>

<div class="footer">
  <h3>${strings['site']['name']} - ${strings['site']['pageEvent']}</h3>
</div>
