<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${strings['site']['name']}</title>
    <link rel="stylesheet" href="../${css}">
    <script defer src="../nav.js"></script>
    <script async src="../background.js"></script>
  </head>
  <body>
    <div id="banner">
      <a href="../en/${current_page}"><img src="${images['flags']['UK.png']}"></a>
      <a href="../rus/${current_page}"><img src="${images['flags']['RUS.jpg']}"></a>
      <p>${strings['site']['banner']}</p>
    </div>

    <div id="menu-navbar">
      <div id="control-bar">
        <button id="menu-button">
	  <img src="${images['flags']['menu.png']}" id="menu-icon">
        </button>
        <div id="heading">
          <h1><a href="${prefix}/index.html">${strings['site']['name']}</a></h1>
          <h3>${strings['site']['tagLine']}</h3>
        </div>
	<img src="${images['flags']['rainbow.png']}">
      </div>
      <nav id="navbar" class="nav-is-closed">
        <ul>
          <li><a href="${prefix}/characters_and_games.html">${strings['site']['pageChars']}</a></li>
          <li><a href="${prefix}/partypics_and_testimonials.html">${strings['site']['pagePartyPics']}</a></li>
          <li><a href="${prefix}/prices.html">${strings['site']['pagePrices']}</a></li>
          <li><a href="${prefix}/contact.html">${strings['site']['pageContact']}</a></li>
          <li><a href="${prefix}/faq.html">${strings['site']['pageFAQ']}</a></li>
        </ul>
      </nav>
    </div>
    ${content}
  </body>
</html>
