<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulip the Clown</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="nav.js"></script>
    <script async src="background.js"></script>
  </head>
  <body>
    <div id="banner">
      <img src="${images['flags']['UK.png']}">
      <img src="${images['flags']['RUS.jpg']}">
      <p>Professional, Experienced, Fun!</p>
    </div>

    <div id="menu-navbar">
      <div id="control-bar">
        <button id="menu-button">
          X
        </button>
        <div id="heading">
          <h1><a href="/">Tulip The Clown</a></h1>
          <h3>Childrens Entertainer</h3>
        </div>
      </div>
      <nav id="navbar" class="nav-is-closed">
        <ul>
          <li><a href="/characters_and_games.html">Characters & Games</a></li>
          <li><a href="/partypics_and_testimonials.html">Party Pics & Testimonials</a></li>
          <li><a href="/prices.html">Prices</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/#faq">FAQ</a></li>
        </ul>
      </nav>
    </div>
    ${content}
  </body>
</html>
