<div id="prices">
  <div id="prices-table">
    % for cost in strings['prices']['costs']:
    <div class="price-column ${loop.cycle('price-column-even', 'price-column-odd')}">
      <p class="price-time">${cost[0]}</p>
      <p class="price-cost">${cost[1]}</p>
    </div>
    % endfor
  </div>
  <div id="price-mod">
    <p>${strings['prices']['specialOffer']}</p>
    <h4>${strings['prices']['travelCost']}</h4>
    <div id="price-travel-times">
      % for cost in strings['prices']['travelCosts']:
      <div class="price-column ${loop.cycle('price-column-even', 'price-column-odd')}">
        <p class="price-time">${cost[0]}</p>
        <p class="price-cost">${cost[1]}</p>
      </div>
      % endfor
    </div>
    <p>${strings['prices']['outsideLondon']}</p>
  </div>
</div>
  
<div class="footer">
  <h3>${strings['site']['name']} - ${strings['site']['pagePrices']}</h3>
</div>
